* {
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.mycolor {
    color: white;
}

.centre {
    text-align: center;
    background-color: #f2f2f2;
    color: grey;
}

svg {
    color: blue;
}

.mar {
    margin-left: 8rem;
    text-align: left;
    color: rgb(236, 236, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#text,
#mail,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

html{
    font-size: 12px;
}

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
    margin-left: 4rem;
}

.change {
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.headimg {
    margin-right: 250px;
    margin-top: 140px;
    width: 28%;
}

/* .column {
    float: left;
    width: 33.33%;
    padding: 30px;
} */

.row {
    margin-right: 50px;
    margin-left: 50px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

hr {
    margin-left: 90px;
    margin-right: 90px;
}
p,h4,h5{
    color: #b0b4b4;
}
